:root{
    --font-style: 'Big Shoulders Stencil Text', sans-serif;
    --header-color: #2D4739;
    --text-color: #B3CBB9;
    --side-nav-color: #4f4b40  ;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    min-height: 100%;
    max-width: 100vw;
}

body{
    height: 100vh;
    max-width: 100vw;
    font-family: var(--font-style);
}

#root {
    height: 100%;
}

#main {
    display: grid;
    grid-template-rows: min-content  1fr;
    height: 100%;
}