.navContainer{
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav {
    height: 80px;

    list-style: none;
    display: grid;

    grid-template-columns: min-content 1fr min-content min-content;
    justify-items: center;
    align-items: center;

    padding: 15px;
    margin: 0px;

    gap: 20px;
    background-color: var(--header-color);
    color: var(--text-color);

    font-size: 1.5rem;
    
}

.nav li{
    padding: 0px 10px;
}

.navitems:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart img{
    filter: invert(81%) sepia(23%) saturate(174%) hue-rotate(83deg) brightness(95%) contrast(88%);
    max-width: 40px;
}

.storeName{
    transform: scale(1.5);
}